# FMOD Studio cache and build folders
*.cache/
Temp/
*.tmp
Build/
Desktop/
Mobile/
Web/

# Generated banks (generate them outside version control)
*.bank

# Ignore user-specific config files
*.fspro.user
*.user
*.userprefs

# Ignore log files
*.log

# Ignore FMOD Studio project backup files
*.backup

# Ignore specific build info files
Build/FMODBankInfo.json

# Track source audio files and project data
!*.wav
!*.aiff
!*.ogg
!*.mp3
!Metadata/